.style1{
    background-color: antiquewhite;
    color:crimson;
    text-align: center;
}
.style2{
    background-color: bisque;
    text-align: center;
}
.style3{
    color: darkgreen;
    text-align: center;
}
.style4{
    background-color: brown;
    text-align: center;
}