<h3 class="text-success">Angular Application</h3><br><br>

<a href="first" class="btn btn-success">FirstComponent</a>
&nbsp;&nbsp;<a href="second" class="btn btn-success">Directives</a>
&nbsp;&nbsp;<a href="third" class="btn btn-success">Pipes</a>
&nbsp;&nbsp;<a href="fourth" class="btn btn-success">Template Driven Forms</a>
&nbsp;&nbsp;<a href="fifth" class="btn btn-success">Reactive/Dynamic Forms</a>
&nbsp;&nbsp;<a routerLink="sixth" class="btn btn-success">Sender Services</a>
&nbsp;&nbsp;<a routerLink="seventh" class="btn btn-success">Receiver Services</a>
&nbsp;&nbsp;<a routerLink="formsender" class="btn btn-success">Form Sender</a>
&nbsp;&nbsp;<a routerLink="formreceiver" class="btn btn-success">Form Receiver</a><br><br>
<a routerLink="crudsender" class="btn btn-success">Crud Sender</a>
&nbsp;&nbsp;<a routerLink="crudreceiver" class="btn btn-success">Crud Receiver</a>
&nbsp;&nbsp;<a href="login" class="btn btn-success">Login</a>
<br><br>



<router-outlet></router-outlet>


<!-- Bootstrap -->
<!-- npm i bootstrap -->

<!-- Component -->
<!--ng g c first-->